div.header-wrap {
    border-bottom: 3px solid black;
    height: transparent;
    background-image: url("/assets/img/dark_footer_background.jpg");
    color: #F5F5F5;
    margin-bottom: 50px;
}

a {
    font-size: 22px;
    color: white;
}

div.logo-wrapper {
    padding: 10px;
    height: 100px;
    width: 100px;
}

img {
    height: 80px;
    width: 80px;
}

div.align-items-center {
    height: 100px;
}

li {
    padding-left: 4px;
    padding-right: 4px;
}

div.thiry-px {
    padding-right: 30px;
}