<div class="footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Залишайся на зв'язку</h3>
                <p>Підписатися на розсилку новин</p>
                <div class="row">
                    <form class="form-inline">
                        <input type="email" class="form-control" id="FormInput" placeholder="введіть Email">
                        <button type="button" class="btn btn-light">Підписатися</button>
                    </form>
                </div>
            </div>
            <div class="col align-right">
                <h4>Нашi контакти:</h4>
                <div><span>email_example@google.com</span></div>
                <div><span>somemail@randommail.org</span></div>
                <div class="eight-px"></div>
                <h4>Гаряча лінія:</h4>
                <div><span>+380-23 992-25-51</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>Copyright @ 2018</span>
            </div>
            <div class="col align-center">
                <div class="row justify-content-center">
                    <div class="img-wrapper"><a href="#123"><img src="/assets/img/facebook_icon.png"></a></div>
                    <div class="img-wrapper"><a href="#123"><img src="/assets/img/telegram_icon.png"></a></div>
                    <div class="img-wrapper"><a href="#123"><img src="/assets/img/twitter_icon.png"></a></div>
                </div>
            </div>
            <div class="col align-right">
                <a routerLink="/sitemap"><span>Карта сайту</span></a>
            </div>
        </div>
    </div>
</div>