<div class="footer-wrap">
    <div class="container-fluid">
        <div class="row margin-left-right">
            <div class="col">
                <h3>Залишайся на зв'язку</h3>
                <p>Підписатися на розсилку новин</p>
                <div class="row">
                    <input [(ngModel)]="subscriptionField" type="email" class="form-control" id="FormInput" placeholder="введіть Email">
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title">Дякуємо за пiдписку!</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-header">
                            <h3 class="modal-title">{{subscriptionField}}</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Закрити</button>
                        </div>
                    </ng-template>   
                    <button class="btn btn-light" (click)="open(content)">Підписатися</button>
                    <hr>
                    <pre>{{closeResult}}</pre>
                </div>
            </div>
            <div class="col align-right">
                <h4>Нашi контакти:</h4>
                <div><span>email_example@google.com</span></div>
                <div><span>somemail@randommail.org</span></div>
                <div class="eight-px"></div>
                <h4>Гаряча лінія:</h4>
                <div><span>+380-23 992-25-51</span></div>
            </div>
        </div>
        <div class="row margin-left-right">
            <div class="col">
                <span>Copyright @ 2018</span>
            </div>
            <div class="col align-center">
                <div class="row justify-content-center">
                    <div class="img-wrapper"><a href="#123"><img src="/assets/img/facebook_icon.png"></a></div>
                    <div class="img-wrapper"><a href="#123"><img src="/assets/img/telegram_icon.png"></a></div>
                    <div class="img-wrapper"><a href="#123"><img src="/assets/img/twitter_icon.png"></a></div>
                </div>
            </div>
            <div class="col align-right">
                <a routerLink="/sitemap"><span>Карта сайту</span></a>
            </div>
        </div>
    </div>
</div>