div#carousel-wrap {
    height: 480px;
    outline: none;
}

img {

    width: auto;
    height: 480px;
    max-height: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

:focus {
    outline: none;
}