<div class="container">
  <div class="row justify-content-center margin-top-bot-25">
    <h4>Динамiчнi характеристики електричного двигуна та двигуна внутрішнього згоряння</h4>
  </div>
  <div class="row">
    <div class="col">
      <div class="d3-chart" #chartA></div>
        <div class="row justify-content-center margin-top-15">  
          <h2>Електричний двигун</h2>
        </div>
    </div>
    <div class="col">
      <div class="d3-chart" #chartB></div>
        <div class="row justify-content-center margin-top-15">  
          <h2>Двигун внутрішнього згоряння</h2>
        </div>
    </div>
  </div>
</div>