<div class="container">
  <div class="row margin-bot-50">
    <div class="col-5">
      <h1>Гіга Фабрика</h1>
      <div>
        <p>Місія Tesla полягає в прискоренні переходу світу до стійкої енергетики за допомогою доступних електричних транспортних засобів та енергетичних продуктів. Щоб досягти запланованого обсягу виробництва 500 000 автомобілів на рік до 2018 року, тільки Тесла потребує всього світового постачання літій-іонних батарей 2014 року. Tesla Gigafactory народився поза необхідністю та забезпечить достатню кількість акумуляторів, щоб підтримати прогнозований попит на автомобілі компанії Tesla.
        </p>
      </div>
    </div>
    <div class="col-7">
      <img src="./assets/img/tesla-gigafactory.jpg">
    </div>
  </div>

  <div class="row margin-bot-50">
    <div class="col-7">
      <img src="./assets/img/tesla-gigafactory4.jpg">
    </div>
    <div class="col-5">
      <h3>Будівництво Гіга Фабрики, 4 листопада 2014р</h3>
      <div>
      <p>Тесла розбила грунт у гігафальному заводі у червні 2014 року за межами Спаркс, штат Невада. Назва "Gigafactory" походить від слова "Giga", одиниця вимірювання, що представляє "мільярди". Запланована виробнича потужність акумулятора складає 35 ГВт / год (ГВт-год.), При цьому 1 ГВт-год це еквівалент вироблення (або споживання) 1 млрд. ват на одну годину. Це майже стільки, скільки поєднання всього поточного акумулятора у світі.
        </p>
      </div>
    </div>
  </div>

  <div class="row margin-bot-50">
    <div class="col-5">
      <div>
      <p>Gigafactory будується за фазами, щоб Тесла могла почати виробництво безпосередньо всередині готових ділянок і продовжувати розширюватися. Вже нинішня структура займає більше ніж 1,9 млн. Квадратних метрів, де розташовано більше 4,9 млн. Квадратних метрів операційного простору на декількох поверхах. Тим не менше, гігафування виконано менш ніж на 30%. Після завершення, Тесла очікує, що гігаффера стане найбільшою будівлею у світі - і повністю забезпечена відновлюваними джерелами енергії з метою досягнення чистої нульової енергії.
      </p>
      </div>
    </div>
    <div class="col-7">
      <img src="./assets/img/tesla-gigafactory3.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-7">
        <img src="./assets/img/tesla-gigafactory2.jpg">
      </div>
    <div class="col-5">
      <div>
      <p>Завдяки технології виробництва гігафування, вартість акумуляторних батарей Тесла суттєво зменшиться через економію масштабу, інноваційне виробництво, зменшення відходів та просту оптимізацію розміщення більшості виробничих процесів під одним дахом. Знижуючи вартість батарей, Tesla може зробити продукти доступними для все більшої кількості людей, що дозволяє нам максимально вплинути на перехід світу на стійку енергетику.
      </p>
      </div>
    </div>
  </div>
</div>