h1.large {
    font-size: 60px;
    margin-bottom: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bot-25 {
    margin-bottom: 25px;
}

:host /deep/ a.nav-link {
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

:host /deep/ a.nav-link:hover {
    border: 0px solid transparent;
    border-radius: 0.25rem;
}

:host /deep/ a{ 
    color: black;
}

:host /deep/ .nav-link.active {
    color: white;
    background-color: black;
}
