<div class="container">
  <div *ngIf='news'>
    <div class="row align-items-center margin50">
      <div class="col-8">
          <img src={{news.img_src}} >
      </div>
        <div class="col-4 align-self-start">
          <div class="row">
            <div class="col">
            <h3>{{news.title}}</h3>
            </div>
          </div>
          <div class="row">
              <div class="col">
                <h4>{{news.date}}</h4>
              </div>
            </div>
          <div class="row margin15">
            <p>&nbsp;&nbsp;&nbsp;{{news.description}}
            </p>
          </div>
      </div>
    </div>
    <div class="row align-items-center margin50">
      <p class="justify">&nbsp;&nbsp;&nbsp;{{news.text}}</p>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-dark read-more" (click)="goBack()">Повернутися</button>
  </div>
</div>