<div class="container">
  <div class="row"><div class="col margin-bot-20"><h1>Двигун Tesla Model S</h1></div></div>
  <div class="row">
    <div class="col">
      <p>
        Електричний мотор Tesla Model S є прямим нащадком двигуна розробленого ще Ніколою Тесла. Безщітковий, 4х полюсной, 3х фазний двигун змінного струму з рідинним охолодженням.
      </p>
      <p>
        Він вкрай невеликих розмірів в порівнянні з двигунами внутрішнього згоряння. Розташований на задній осі між колесами.
      </p>
      <p>
        Мотор складається з двох частин: ротор і статор. Матеріали (від зовнішнього до внутрішнього шару): алюміній, сталь, мідь. Єдина точка контакту в моторі - підшипники.
      </p>
      <p>
        Подібний двигун дозволяє відмовитися від трансмісії і використовувати прямий привід. Мотор забезпечує максимальну швидкість автомобіля - 208 км / год (130 миль / год) на єдиній передачі. Двигун видає 100% крутного моменту на будь-якій швидкості, дуже ефективний, має можливість можливість рекуперації.
      </p>
      <p>
        Динамічні характеристики Telsa Model S завдяки цьому двигуну порівняльних з автомобілями Mercedes S класу або BMW 7ой серії. Показник відношення потужності до ваги у Model S кращий серед автомобілів свого класу. Крутний момент двигуна 600 Н · м, потужність 416 кінських сил, автомобіль розганяється від 0 до 100 км / год за вражаючі для седана 4.2 с.
      </p>
    </div>
    <div class="col">
        <img src="./assets/img/Tesla-Model-S-motor.jpg" class="margin-bot-20">
        <div class="row justify-content-center">
          <h4>Модель двигуна Tesla Model S 2014 року</h4>
        </div>
    </div>
  </div>
</div>
<app-diagramm></app-diagramm>