<div class="container">
  <div *ngIf="news.length">
    <div *ngFor='let new of news' class="row align-items-center margin50">
      <div class="col">
        <img src={{new.img_src}} >
      </div>
        <div class="col align-self-start">
          <div class="row">
            <div class="col-7">
              <h3>{{new.title}}</h3>
            </div>
            <div class="col-5 align-right">
              <h4>{{new.date}}</h4>
            </div>
          </div>
          <div class="row margin15">
            <span>{{new.description}}
            </span>
          </div>
        <div class="row">
          <a routerLink="/news/{{new.id}}" class="margin-left-15"><button type="button" class="btn btn-dark read-more">Детальнiше</button></a>
        </div>
      </div>
    </div>
  </div>
</div>